flows_ThisMac.local.json
[{"id":"769e930d.1a2bcc","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"88b60067.db93f8","type":"websocket-listener","path":"/ws/iodat","wholemsg":"false"},{"id":"a3e8b581.db138","type":"http response","z":"769e930d.1a2bcc","name":"","x":630,"y":80,"wires":[]},{"id":"7e9c7f7.cddf3","type":"http in","z":"769e930d.1a2bcc","name":"","url":"/iotest","method":"get","swaggerDoc":"","x":288,"y":78,"wires":[["a9b494fa.f8e74"]]},{"id":"245bad00.6f57f4","type":"websocket in","z":"769e930d.1a2bcc","name":"","server":"88b60067.db93f8","client":"","x":286,"y":165,"wires":[["70fc8322.daf2ac"]]},{"id":"1ebd15a3.33c2ca","type":"debug","z":"769e930d.1a2bcc","name":"","active":true,"console":"false","complete":"false","x":644,"y":165,"wires":[]},{"id":"7b2afd8d.12a8a4","type":"websocket out","z":"769e930d.1a2bcc","name":"","server":"88b60067.db93f8","client":"","x":708,"y":246,"wires":[]},{"id":"495e836f.46523c","type":"inject","z":"769e930d.1a2bcc","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":163,"y":270,"wires":[["632271b3.982bf8"]]},{"id":"a9b494fa.f8e74","type":"function","z":"769e930d.1a2bcc","name":"","func":"context.global.digdat = context.global.digdat || 0;\ncontext.global.anadat = context.global.anadat || 50;\ncontext.global.envdat = context.global.envdat || \"\";\n\nvar m;\nm = \"\\n\";\nm = m + \"<HTML>\\n\";\nm = m + \"<BODY>\\n\";\nm = m + \"\t<table>\\n\";\nm = m + \"\t\t<tr>\\n\";\nm = m + \"\t\t\t<td id = 'hostname'>HOST:</td>\\n\";\nm = m + \"\t\t</tr>\\n\";\nm = m + \"\t\t<tr>\\n\";\nm = m + \"\t\t\t<td id='rcvmsg'>RECEIVE: <B>\"+context.global.envdat+\"</B></td>\\n\";\nm = m + \"\t\t</tr>\\n\";\nm = m + \" \t\t<tr>\\n\";\nm = m + \"\t\t\t<td>\\n\";\nm = m + \"\t\t\t\t<input type='button' value='READ' onClick='refTemp()'>\\n\";\nm = m + \"\t\t\t</td>\\n\";\nm = m + \"\t\t</tr>\\n\";\nm = m + \"\t</table>\\n\";\nm = m + \"\t<table>\\n\";\nm = m + \"\t\t<tr>\\n\";\nm = m + \"\t\t\t<td id='dig'>\\n\";\nm = m + \"\t\t\t<label>OFF</label>\\n\";\n\nif (context.global.digdat == 0) {\n\tm = m + \"\t\t\t<input id='radbtn0' type='radio' name='DIG' value='0' checked='checked'\\n\";\n\tm = m + \"\t\t\t\tonchange='changeDIG(this.value)'>\\n\";\n\tm = m + \"\t\t\t<input id='radbtn1'type='radio' name='DIG' value='1'\\n\";\n\tm = m + \"\t\t\t\tonchange='changeDIG(this.value)'>\\n\";\n} else {\n\tm = m + \"\t\t\t<input id='radbtn0' type='radio' name='DIG' value='0'\\n\";\n\tm = m + \"\t\t\t\tonchange='changeDIG(this.value)'>\\n\";\n\tm = m + \"\t\t\t<input id='radbtn1' type='radio' name='DIG' value='1'  checked='checked'\\n\";\n\tm = m + \"\t\t\t\tonchange='changeDIG(this.value)'>\\n\";\n}\n\nm = m + \"\t\t\t<label>ON</label>\\n\";\nm = m + \"\t\t\t</td>\\n\";\nm = m + \"\t\t</tr>\\n\";\nm = m + \" \t\t<tr>\\n\";\nm = m + \"\t\t\t<td> \\n\";\nm = m + \"\t\t\t<label>0</label>\\n\";\nm = m + \"\t\t\t<input id='slider' type='range' name='num' min='0' max='100' step='5'\\n\";\nm = m + \"\t\t\t value='\" + parseInt(context.global.anadat, 10) + \"'\\n\";\nm = m + \"\t\t\t onchange='changeValue(this.value)'>\\n\";\nm = m + \"\t\t\t<label>100</label>\\n\";\nm = m + \"\t\t\t</td>\\n\";\nm = m + \"\t\t\t<td id='sndval'>VAL: <B>\" + ('00'+context.global.anadat).substr(-3) + \"</B></td>\\n\";\nm = m + \"\t\t</tr>\\n\";\nm = m + \" \t\t<tr>\\n\";\nm = m + \"\t\t\t<td>\\n\";\nm = m + \"\t\t\t\t<input type='button' value='RELOAD' onClick='refScreen()'>\\n\";\nm = m + \"\t\t\t</td>\\n\";\nm = m + \"\t\t</tr>\\n\";\nm = m + \"\t</table>\\n\";\nm = m + \"</BODY>\\n\";\nm = m + \"\\n\";\nm = m + \"<script type = 'text/javascript'>\\n\";\nm = m + \"\tvar ws;\\n\";\nm = m + \"\tvar sendval;\\n\";\nm = m + \"\tvar slidval;\\n\";\nm = m + \"\tvar ledval;\\n\";\nm = m + \"\tvar rcvmsg;\\n\";\nm = m + \"\tvar hadr;\\n\";\nm = m + \"\\n\";\nm = m + \"\tfunction changeValue(value) {\\n\";\nm = m + \"\t\tvar m;\\n\";\nm = m + \"\t\tvar n;\\n\";\nm = m + \"\t\tm = ('00'+value).substr(-3);\\n\";\nm = m + \"\t\tn = m;\\n\";\nm = m + \"\t\tm = 'A:'+ m;\\n\";\nm = m + \"\t\tws.send(m);\\n\";\nm = m + \"\t\tcontext.global.anadat = parseInt(n,10);\\n\";\nm = m + \"\t}\\n\";\nm = m + \"\\n\";\nm = m + \"\tfunction changeDIG(value) {\\n\";\nm = m + \"\t\tvar m;\\n\";\nm = m + \"\t\tm = 'D:'+value;\\n\";\nm = m + \"\t\tws.send(m);\\n\";\nm = m + \"\t}\\n\";\nm = m + \"\\n\";\nm = m + \"\tfunction refTemp() {\\n\";\nm = m + \"\t\tvar m;\\n\";\nm = m + \"\t\tm = 'T:0';\\n\";\nm = m + \"\t\tws.send(m);\\n\";\nm = m + \"\t}\\n\";\nm = m + \"\\n\";\nm = m + \"\tfunction refScreen() {\\n\";\nm = m + \"\t\tvar m;\\n\";\nm = m + \"\t\tm = 'R:0';\\n\";\nm = m + \"\t\tws.send(m);\\n\";\nm = m + \"\t}\\n\";\nm = m + \"\\n\";\nm = m + \"\t(function() {\\n\";\nm = m + \"\t\thadr = location.host;\\n\";\nm = m + \"\t\trcvmsg = document.getElementById('rcvmsg');\\n\";\nm = m + \"\t\tsendval = document.getElementById('sndval');\\n\";\nm = m + \"\t\tslidval = document.getElementById('slider');\\n\";\nm = m + \"\t\tledval0 = document.getElementById('radbtn0');\\n\";\nm = m + \"\t\tledval1 = document.getElementById('radbtn1');\\n\";\nm = m + \"\t\tws = new WebSocket('ws://'+hadr+'/ws/iodat');\\n\";\nm = m + \"\t\thostname.innerHTML = 'HOST: '+hadr;\\n\";\nm = m + \"\\n\";\nm = m + \"\t\tfunction logStr(eventStr, msg) {\\n\";\nm = m + \"\t\t\treturn '<td>' + eventStr + ':' + msg + '</td>';\\n\";\nm = m + \"\t\t}\\n\";\nm = m + \"\\n\";\nm = m + \"\t\tws.onmessage = function(e) {\\n\";\nm = m + \"\t\t\tvar m = ((e.data).toString()).split(':');\\n\";\nm = m + \"\t\t\tswitch(m[0]) {\\n\";\nm = m + \"\t\t\t\tcase\t'A':\\n\";\nm = m + \"\t\t\t\t\tslidval.value = m[1];\\n\";\nm = m + \"\t\t\t\t\tsendval.innerHTML = 'VAL: <B>' + ('00' + m[1]).substr(-3) + '</B>';\\n\";\nm = m + \"\t\t\t\t\tbreak;\\n\";\nm = m + \"\t\t\t\tcase\t'D':\\n\";\nm = m + \"\t\t\t\t\tif (m[1] == 0) {\\n\";\nm = m + \"\t\t\t\t\t\tledval0.checked = 'checked';\\n\";\nm = m + \"\t\t\t\t\t} else {\\n\";\nm = m + \"\t\t\t\t\t\tledval1.checked = 'checked';\\n\";\nm = m + \"\t\t\t\t\t}\\n\";\nm = m + \"\t\t\t\t\tbreak;\\n\";\nm = m + \"\t\t\t\tcase\t'T':\\n\";\nm = m + \"\t\t\t\t\trcvmsg.innerHTML = 'RECEIVE: <B>'+m[1]+':'+m[2]+'</B>';\\n\";\nm = m + \"\t\t\t\t\tbreak;\\n\";\nm = m + \"\t\t\t\tcase\t'R':\\n\";\nm = m + \"\t\t\t\t\tlocation.reload(true);\\n\";\nm = m + \"\t\t\t\t\tbreak;\\n\";\nm = m + \"\t\t\t\tdefault:\\n\";\nm = m + \"\t\t\t\t\tbreak;\\n\";\nm = m + \"\t\t\t}\\n\";\nm = m + \"\t\t};\\n\";\nm = m + \"\\n\";\nm = m + \"\t\tws.onclose = function (e) {\\n\";\nm = m + \"\t\t\toutput.innerHTML = logStr('disconnect', e.code + ' - ' + e.type);\\n\";\nm = m + \"\t\t};\\n\";\nm = m + \"\\n\";\nm = m + \"\t}() );\\n\";\nm = m + \"</script>\\n\";\nm = m + \"\\n\";\n\nmsg.payload = m;\nreturn msg;","outputs":1,"noerr":0,"x":442,"y":78,"wires":[["a3e8b581.db138"]]},{"id":"70fc8322.daf2ac","type":"function","z":"769e930d.1a2bcc","name":"","func":"context.global.digdat = context.global.digdat || 0;\ncontext.global.anadat = context.global.anadat || 50;\ncontext.global.chg = context.global.chg || 0;\nm = (msg.payload).toString();\nn = m.split(':');\nif (n[0] == 'D') {\n    context.global.digdat = parseInt(n[1],10);\n    context.global.chg |= 1;\n}\nif (n[0] == 'A') {\n    context.global.anadat = parseInt(n[1],10);\n    context.global.chg |= 2;\n}\nif (n[0] == 'R') {\n    context.global.chg |= 4;\n}\nif (n[0] == 'T') {\n    context.global.chg |= 8;\n}\nmsg.payload = \"[\" + n[0] + \"][\" + n[1] + \"]\"\nreturn msg;\n","outputs":1,"noerr":0,"x":452,"y":165,"wires":[["1ebd15a3.33c2ca"]]},{"id":"49aae5ce.8405fc","type":"debug","z":"769e930d.1a2bcc","name":"","active":true,"console":"false","complete":"false","x":688,"y":297,"wires":[]},{"id":"632271b3.982bf8","type":"function","z":"769e930d.1a2bcc","name":"chgdetect","func":"context.count = context.count+1 || 60;\nif ((context.global.chg != 0)) {\n    msg.payload = context.global.chg;\n} else {\n    if (context.count>=60) {\n        context.count=0;\n        context.global.chg |= 8;\n        msg.payload = 8;\n    } else {\n        msg.payload = 0;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":305,"y":270,"wires":[["c1004a43.b3dc5"]]},{"id":"c1004a43.b3dc5","type":"switch","z":"769e930d.1a2bcc","name":"","property":"payload","rules":[{"t":"neq","v":"0"},{"t":"eq","v":"8"}],"checkall":"true","outputs":2,"x":433,"y":270,"wires":[["6bc08e4.5794af"],["35cbc205.13c08e"]]},{"id":"6bc08e4.5794af","type":"function","z":"769e930d.1a2bcc","name":"","func":"context.count = context.count+1 || 0;\nvar req = parseInt(msg.payload);\nvar m;\nif (req & 1) {\n    m = \"D:\"+context.global.digdat;\n    req &= ~1;\n} else if (req & 2){\n    m = \"A:\"+context.global.anadat;\n    req &= ~2;\n}else if(req & 4) {\n    m = \"R:\";\n    req &= ~4;\n} else if (req & 8) {\n    m = \"T:\"+context.global.envdat || \"T:\";\n    req &= ~8;\n} else {\n        m = \"\";\n        req = 0;\n}\ncontext.global.chg = req;\nmsg.payload = m;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":246,"wires":[["7b2afd8d.12a8a4","49aae5ce.8405fc"]]},{"id":"225a7599.b0581a","type":"function","z":"769e930d.1a2bcc","name":"StoreEnvDat","func":"context.global.envdat = msg.payload || \"\";\nreturn msg;","outputs":1,"noerr":0,"x":484,"y":357,"wires":[[]]},{"id":"89a4c408.bae738","type":"debug","z":"769e930d.1a2bcc","name":"","active":false,"console":"false","complete":"false","x":504,"y":404,"wires":[]},{"id":"35cbc205.13c08e","type":"function","z":"769e930d.1a2bcc","name":"DummyDat","func":"context.count = context.count+1 || 0;\nif (context.count >= 100) {\n  context.count -= 100;\n}\nvar p = ((((Math.random()-0.5)*50.0)+1013.0).toString()).substr(0,7);\nvar t = ((((Math.random()-0.5)*30.0)+20.0).toString()).substr(0,5);\nmsg.payload = (\"00\"+(context.count).toString()).substr(-3)+\":Press \"+p+\"hPa Temp \"+t+\"degree\";\nreturn msg;","outputs":1,"noerr":0,"x":313,"y":356,"wires":[["225a7599.b0581a","89a4c408.bae738"]]}]