20190218/_node-red/flows_ThisMac-507.local.json
[{"id":"881f2bc6.3d5978","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cd8d9dcc.16feb","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"7f90237d.f411dc","type":"subflow","name":"Subflow 2","info":"","in":[{"x":100,"y":80,"wires":[{"id":"411ac869.fe86"}]}],"out":[]},{"id":"e7bff07b.386f6","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"},{"id":"d6c3ad7e.7d8df","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"411ac869.fe86","type":"template","z":"7f90237d.f411dc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"メッセージは: {{payload}} ですな","output":"str","x":240,"y":80,"wires":[["fdae37e2.d621a8"]]},{"id":"fdae37e2.d621a8","type":"debug","z":"7f90237d.f411dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":80,"wires":[]},{"id":"92a0f7b5.386be","type":"inject","z":"881f2bc6.3d5978","name":"","topic":"","payload":"こんにちは","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":160,"wires":[["5c2583ca.f21684"]]},{"id":"4d2f036b.5e95a4","type":"debug","z":"881f2bc6.3d5978","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":550,"y":160,"wires":[]},{"id":"5c2583ca.f21684","type":"template","z":"881f2bc6.3d5978","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"メッセージは: {{payload}} !","output":"str","x":380,"y":220,"wires":[["4d2f036b.5e95a4"]]}]