20190218/_node-red/flows_ThisMac-181.local.json
[{"id":"56d51802.fe93d8","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"75c26d59.2be8f4","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"848867ce.bdd7b8","type":"ui_group","z":"","name":"湿度","tab":"be80f3d5.a675c","order":2,"disp":true,"width":"6","collapse":false},{"id":"bdd7213f.7b1aa","type":"ui_group","z":"","name":"ジメジメグループ","tab":"be80f3d5.a675c","order":1,"disp":true,"width":"6","collapse":false},{"id":"be80f3d5.a675c","type":"ui_tab","z":"","name":"温度グループ","icon":"dashboard","order":1},{"id":"1f8ced7f.3d5643","type":"ibmiot in","z":"56d51802.fe93d8","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"b6437c53ba54","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":80,"y":200,"wires":[["712ac200.ee492c","ad6aa33b.2fc63","23c543e2.c289ec"]]},{"id":"712ac200.ee492c","type":"debug","z":"56d51802.fe93d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":220,"wires":[]},{"id":"ad6aa33b.2fc63","type":"change","z":"56d51802.fe93d8","name":"temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":320,"wires":[["b28d10e9.892e8","48050857.aeccf8","5b4fcef7.4add7"]]},{"id":"b28d10e9.892e8","type":"ui_text","z":"56d51802.fe93d8","group":"848867ce.bdd7b8","order":2,"width":0,"height":0,"name":"","label":"現在の室温","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":300,"wires":[]},{"id":"48050857.aeccf8","type":"ui_gauge","z":"56d51802.fe93d8","name":"","group":"848867ce.bdd7b8","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":340,"wires":[]},{"id":"5b4fcef7.4add7","type":"ui_chart","z":"56d51802.fe93d8","name":"","group":"848867ce.bdd7b8","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":370,"y":380,"wires":[[],[]]},{"id":"23c543e2.c289ec","type":"change","z":"56d51802.fe93d8","name":"humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":420,"wires":[["9a85d931.1f7fd8","942c79ce.474828","b2568970.b60398"]]},{"id":"9a85d931.1f7fd8","type":"ui_text","z":"56d51802.fe93d8","group":"bdd7213f.7b1aa","order":1,"width":0,"height":0,"name":"","label":"湿っぽさ","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":480,"wires":[]},{"id":"942c79ce.474828","type":"ui_gauge","z":"56d51802.fe93d8","name":"","group":"bdd7213f.7b1aa","order":5,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":520,"wires":[]},{"id":"b2568970.b60398","type":"ui_chart","z":"56d51802.fe93d8","name":"","group":"bdd7213f.7b1aa","order":6,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":370,"y":560,"wires":[[],[]]}]